<div class="stats">
  <span> <%= link_to "Recipes", user_recipes_path(@user), collection: @user.recipes %></span>
  <span> <%= link_to "Followers", followers_user_path(@user), collection: @user.followers %></span>
  <span> <%= link_to "Following", following_user_path(@user), collection: @user.following %></span>
</div>