<%= turbo_frame_tag @user do %>
  <%= render "profile_stats" %>
  <% if @user.followers.empty? %>
    <div class="no-stats">
      <p>No followers yet.</p>
    </div>
  <% else %>
    <% @user.followers.each do |follower| %>
    <div class="row">
      <div class="col-4 col-md-4 profile-follow">
          <%= link_to user_path(follower.username), "data-turbo-frame": "_top" do  %>
          <div class="follow">
            <%= follow_image follower %>
          </div>
          <% end %>
        </div>        
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>