<main class="container-fluid">
  <div class="row">
    <section id="home-heading">
        <figure>
          <%= image_tag "cooking-banner.jpg", class: "hero-image img-fluid", alt: "cutting board and bowls on wooden table" %>
        </figure>
    </section>
  </div>
  <div class="row">
    <section class="flex-col col-xs-12 col-lg-12" >
    <% @recipes.each do |recipe| %>
      <%= image_tag recipe.image, class: "img-fluid" %>
      <%= recipe.name %>
    <% end %>
    </section>
  </div>
</main>